In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
df=pd.read_csv("sales.csv")

In [7]:
group=df['Total Profit'].groupby(df['Region'])

In [14]:
df

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36
2,Europe,Russia,Office Supplies,Offline,L,5/2/2014,341417157,5/8/2014,1779,651.21,524.96,1158502.59,933903.84,224598.75
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,7/5/2014,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2/1/2013,115456712,2/6/2013,5062,651.21,524.96,3296425.02,2657347.52,639077.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Sub-Saharan Africa,Mali,Clothes,Online,M,7/26/2011,512878119,9/3/2011,888,109.28,35.84,97040.64,31825.92,65214.72
96,Asia,Malaysia,Fruits,Offline,L,11/11/2011,810711038,12/28/2011,6267,9.33,6.92,58471.11,43367.64,15103.47
97,Sub-Saharan Africa,Sierra Leone,Vegetables,Offline,C,6/1/2016,728815257,6/29/2016,1485,154.06,90.93,228779.10,135031.05,93748.05
98,North America,Mexico,Personal Care,Offline,M,7/30/2015,559427106,8/8/2015,5767,81.73,56.67,471336.91,326815.89,144521.02
99,Sub-Saharan Africa,Mozambique,Household,Offline,L,2/10/2012,665095412,2/15/2012,5367,668.27,502.54,3586605.09,2697132.18,889472.91

In [9]:
group.groups

{'Asia': Int64Index([10, 12, 14, 16, 18, 33, 38, 44, 70, 77, 96], dtype='int64'),
 'Australia and Oceania': Int64Index([0, 5, 19, 23, 26, 32, 56, 60, 76, 79, 91], dtype='int64'),
 'Central America and the Caribbean': Int64Index([1, 13, 22, 35, 64, 67, 94], dtype='int64'),
 'Europe': Int64Index([ 2, 15, 20, 21, 24, 25, 28, 30, 39, 43, 46, 47, 48, 50, 57, 58, 61,
             68, 78, 80, 89, 93],
            dtype='int64'),
 'Middle East and North Africa': Int64Index([36, 41, 52, 63, 71, 74, 81, 82, 88, 92], dtype='int64'),
 'North America': Int64Index([75, 85, 98], dtype='int64'),
 'Sub-Saharan Africa': Int64Index([ 3,  4,  6,  7,  8,  9, 11, 17, 27, 29, 31, 34, 37, 40, 42, 45, 49,
             51, 53, 54, 55, 59, 62, 65, 66, 69, 72, 73, 83, 84, 86, 87, 90, 95,
             97, 99],
            dtype='int64')}

In [10]:
group.mean()

Region
Asia                                 555804.170000
Australia and Oceania                429287.275455
Central America and the Caribbean    406701.121429
Europe                               503769.937727
Middle East and North Africa         576119.186000
North America                        485980.920000
Sub-Saharan Africa                   338422.538889
Name: Total Profit, dtype: float64

In [11]:
group.sum()

Region
Asia                                  6113845.87
Australia and Oceania                 4722160.03
Central America and the Caribbean     2846907.85
Europe                               11082938.63
Middle East and North Africa          5761191.86
North America                         1457942.76
Sub-Saharan Africa                   12183211.40
Name: Total Profit, dtype: float64

In [12]:
group.max()

Region
Asia                                 1367272.50
Australia and Oceania                1678540.98
Central America and the Caribbean    1487261.02
Europe                               1541705.29
Middle East and North Africa         1719922.04
North America                        1152486.42
Sub-Saharan Africa                   1254472.05
Name: Total Profit, dtype: float64

In [13]:
group.min()

Region
Asia                                   7828.12
Australia and Oceania                  5270.67
Central America and the Caribbean    122686.50
Europe                                 6841.38
Middle East and North Africa           1258.02
North America                        144521.02
Sub-Saharan Africa                    14031.02
Name: Total Profit, dtype: float64

In [23]:
grp1=df['Total Profit'].groupby([df['Region'],df['Item Type']])

In [24]:
grp1

In [25]:
grp1.groups

{('Asia', 'Clothes'): Int64Index([12, 44], dtype='int64'),
 ('Asia', 'Cosmetics'): Int64Index([16], dtype='int64'),
 ('Asia', 'Fruits'): Int64Index([96], dtype='int64'),
 ('Asia', 'Household'): Int64Index([18, 33], dtype='int64'),
 ('Asia', 'Office Supplies'): Int64Index([38, 70], dtype='int64'),
 ('Asia', 'Personal Care'): Int64Index([14], dtype='int64'),
 ('Asia', 'Vegetables'): Int64Index([10, 77], dtype='int64'),
 ('Australia and Oceania', 'Baby Food'): Int64Index([0, 5], dtype='int64'),
 ('Australia and Oceania', 'Beverages'): Int64Index([76, 91], dtype='int64'),
 ('Australia and Oceania', 'Cereal'): Int64Index([60], dtype='int64'),
 ('Australia and Oceania', 'Clothes'): Int64Index([56], dtype='int64'),
 ('Australia and Oceania', 'Cosmetics'): Int64Index([79], dtype='int64'),
 ('Australia and Oceania', 'Fruits'): Int64Index([23, 26], dtype='int64'),
 ('Australia and Oceania', 'Meat'): Int64Index([19], dtype='int64'),
 ('Australia and Oceania', 'Office Supplies'): Int64Index([32], dtype='int64'),
 ('Central America and the Caribbean',
  'Beverages'): Int64Index([94], dtype='int64'),
 ('Central America and the Caribbean',
  'Cereal'): Int64Index([1], dtype='int64'),
 ('Central America and the Caribbean',
  'Clothes'): Int64Index([67], dtype='int64'),
 ('Central America and the Caribbean',
  'Cosmetics'): Int64Index([64], dtype='int64'),
 ('Central America and the Caribbean',
  'Household'): Int64Index([13], dtype='int64'),
 ('Central America and the Caribbean',
  'Personal Care'): Int64Index([35], dtype='int64'),
 ('Central America and the Caribbean',
  'Snacks'): Int64Index([22], dtype='int64'),
 ('Europe', 'Baby Food'): Int64Index([20, 21, 61, 78], dtype='int64'),
 ('Europe', 'Beverages'): Int64Index([28, 89], dtype='int64'),
 ('Europe', 'Clothes'): Int64Index([15, 48, 50], dtype='int64'),
 ('Europe', 'Cosmetics'): Int64Index([25, 30, 46, 57, 93], dtype='int64'),
 ('Europe', 'Household'): Int64Index([58, 80], dtype='int64'),
 ('Europe', 'Office Supplies'): Int64Index([2, 39, 68], dtype='int64'),
 ('Europe', 'Personal Care'): Int64Index([24, 47], dtype='int64'),
 ('Europe', 'Vegetables'): Int64Index([43], dtype='int64'),
 ('Middle East and North Africa', 'Cereal'): Int64Index([52], dtype='int64'),
 ('Middle East and North Africa',
  'Clothes'): Int64Index([63, 81], dtype='int64'),
 ('Middle East and North Africa',
  'Cosmetics'): Int64Index([41, 74, 82], dtype='int64'),
 ('Middle East and North Africa',
  'Fruits'): Int64Index([36, 71, 88], dtype='int64'),
 ('Middle East and North Africa',
  'Office Supplies'): Int64Index([92], dtype='int64'),
 ('North America', 'Household'): Int64Index([75], dtype='int64'),
 ('North America', 'Personal Care'): Int64Index([85, 98], dtype='int64'),
 ('Sub-Saharan Africa', 'Baby Food'): Int64Index([87], dtype='int64'),
 ('Sub-Saharan Africa', 'Beverages'): Int64Index([17, 72, 86], dtype='int64'),
 ('Sub-Saharan Africa', 'Cereal'): Int64Index([9, 42, 45, 73], dtype='int64'),
 ('Sub-Saharan Africa',
  'Clothes'): Int64Index([11, 55, 69, 95], dtype='int64'),
 ('Sub-Saharan Africa', 'Cosmetics'): Int64Index([59, 65], dtype='int64'),
 ('Sub-Saharan Africa', 'Fruits'): Int64Index([3, 27, 51, 54], dtype='int64'),
 ('Sub-Saharan Africa', 'Household'): Int64Index([6, 29, 99], dtype='int64'),
 ('Sub-Saharan Africa', 'Meat'): Int64Index([37], dtype='int64'),
 ('Sub-Saharan Africa',
  'Office Supplies'): Int64Index([4, 49, 53, 62, 90], dtype='int64'),
 ('Sub-Saharan Africa',
  'Personal Care'): Int64Index([8, 31, 40, 66], dtype='int64'),
 ('Sub-Saharan Africa', 'Snacks'): Int64Index([34, 83], dtype='int64'),
 ('Sub-Saharan Africa', 'Vegetables'): Int64Index([7, 84, 97], dtype='int64')}

In [26]:
grp1.sum()

Region                             Item Type
Asia                               Clothes            1042333.92
                                   Cosmetics          1208744.24
                                   Fruits               15103.47
                                   Household          2002018.40
                                   Office Supplies    1479397.50
                                   Personal Care       122819.06
                                   Vegetables          243429.28
Australia and Oceania              Baby Food          1236498.14
                                   Beverages           293906.88
                                   Cereal               60418.38
                                   Clothes             727423.20
                                   Cosmetics          1678540.98
                                   Fruits               18279.85
                                   Meat                337937.60
                                   Office Supplies     369155.00
Central America and the Caribbean  Beverages           127722.96
                                   Cereal              248406.36
                                   Clothes             403773.12
                                   Cosmetics           296448.35
                                   Household          1487261.02
                                   Personal Care       160609.54
                                   Snacks              122686.50
Europe                             Baby Food          2117259.82
                                   Beverages           153217.44
                                   Clothes             865416.96
                                   Cosmetics          5233487.00
                                   Household           794675.35
                                   Office Supplies    1774191.25
                                   Personal Care       133895.58
                                   Vegetables           10795.23
Middle East and North Africa       Cereal              359941.17
                                   Clothes            1028160.00
                                   Cosmetics          4105940.05
                                   Fruits               11999.39
                                   Office Supplies     255151.25
North America                      Household          1152486.42
                                   Personal Care       305456.34
Sub-Saharan Africa                 Baby Food           532885.74
                                   Beverages           313200.00
                                   Cereal             1623677.52
                                   Clothes            1166227.20
                                   Cosmetics          2032888.04
                                   Fruits               75112.47
                                   Household          1976164.52
                                   Meat                272672.40
                                   Office Supplies    2051688.75
                                   Personal Care       497841.96
                                   Snacks              629257.68
                                   Vegetables         1011595.12
Name: Total Profit, dtype: float64

In [31]:
grp2=df['Total Profit'],df['Unit Price'].groupby(df['Region'])

In [32]:
grp2

(0     951410.50
 1     248406.36
 2     224598.75
 3      19525.82
 4     639077.50
         ...
 95     65214.72
 96     15103.47
 97     93748.05
 98    144521.02
 99    889472.91
 Name: Total Profit, Length: 100, dtype: float64,
 <pandas.core.groupby.generic.SeriesGroupBy object at 0x04D05970>)

In [33]:
grp2.sum()

AttributeError: 'tuple' object has no attribute 'sum'